$primary-color: hsla(0, 67%, 34%, 1);//#901c1c
$primary-text-color: hsla(11, 63%, 53%, 1);//#d5373c
$secondary-color: hsla(11, 58%, 66%, 1);//#db8876

$color-dark: hsla(0, 0%, 0%, 1);//base pour secondary text et secondary bg
/*
couleurs: $secondary-text-color: hsla(0, 0%, 32%, 1);
            #525252
            $secondary-background-color: hsla(0, 0%, 98%, 1);
            #fafafa
*/

$font-size-text: 1.6rem;
$font-size-title: 1.2rem;
/*
tailles polices:
    nom home    36px
    nom phPage  64px
    lieu home   16px
    lieu phPage 24px
*/


