$primary-color: hsla(0, 67%, 34%, 1);//#901c1c
$primary-text-color: hsla(11, 63%, 53%, 1);//#d5373c

$secondary-color: hsla(11, 58%, 66%, 1);//#db8876
$secondary-text-color: hsla(0, 0%, 32%, 1);//#525252
$secondary-background-color: hsla(0, 0%, 98%, 1);//#fafafa
