.modal {
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-title*1.5;
        background-color: $primary-color;
        color: white;
        width: 170px;
        height: 69px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: ease-in-out .3s;
        &--open:hover {
            background-color: $secondary-color;
            color: $color-dark;
        }
        &--active:active {
            transform: scale(1.1);
        }
    }
}
@media screen and (max-width: 860px) {
    .modal {
        &__btn {
            width: 200px;
            height: 35px;
            position: relative;
            bottom: 5%;
            left: 0;
            right: 0;
            margin: 0 auto;
            transform: translateY(-10%);
            &--open {
                position: fixed;
            }      
        }    
    }
}

.lightbox {
    &__btn {
        background-color: transparent;
        border: transparent;
        color: $primary-color;
        font-size: $font-size-text*3;
    }

    &__btn--close {
        position: absolute;
        right: -3rem;
        top: .5rem;
    }
    &__btn--left {
        left: -3rem;
        position: absolute;
        top: 48%;
    }
    &__btn--right {
        position: absolute;
        right: -3rem;
        top: 48%;   
    }
}