//typo google font 
@font-face {
    font-family: 'DMSans';
    src: url('../fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'DMSans Medium';
    src: url('../fonts/DMSans-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'DMSans Bold';
    src: url('../fonts/DMSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

html {
    font-family: 'DMSans', sans-serif;
}

.main {
    &__title {
        text-align: right;
        font-size: $font-size-title*3;
        color: $primary-color;
    }
}
.photographer {
    &__tag {        
        font-family: 'DMSans Medium', sans-serif;
        color: $primary-color;
        line-height: 16px;
        text-align: center;
    }
    &__name {
        font-size: $font-size-title*3;
        color: $primary-text-color;
        &--home {
            text-align: center;
        }
        &--phPage {
            font-size: $font-size-text*4;
        }
    }
    &__place {        
        color: $primary-color;
        &--phPage {
            font-size: $font-size-title*2;
        }
    }
    &__quote {
        text-align: center;
        white-space: normal;
        &--phPage {
            text-align: left;
        }
    }
    &__price {
        color: lighten($color-dark, 46%);
    }  
}
.work {
    &__likes {
        font-size: $font-size-title*2;
        font-family: 'DMSans Medium', sans-serif;
    }   
}
.info {
    font-size: $font-size-title*2;
    font-family: 'DMSans Medium', sans-serif;
}
