//typo google font 
@font-face {
    font-family: 'DMSans';
    src: url('../fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'DMSans Medium';
    src: url('../fonts/DMSans-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'DMSans Bold';
    src: url('../fonts/DMSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

html {
    font-family: 'DMSans', sans-serif;
}

.header {
    &__title {
        text-align: center;
        font-size: $font-size-title*3;
        color: $primary-color;
    }
}
@media screen and (max-width: 550px) {
    .header {
        &__title {
            font-size: 14px;
        }
    }
    
}
.photographer {
    &__tag {        
        font-family: 'DMSans Medium', sans-serif;
        color: $primary-color;
        line-height: 16px;
        text-align: center;
    }
    &__name {
        font-size: $font-size-title*3;
        color: $primary-text-color;
        &--home {
            text-align: center;
        }
        &--phPage {
            font-size: $font-size-text*4;
        }
    }
    &__place {        
        color: $primary-color;
        &--phPage {
            font-size: $font-size-title*2;
        }
    }
    &__quote {
        text-align: center;
        white-space: normal;
        &--phPage {
            text-align: left;
        }
    }
    &__price {
        color: lighten($color-dark, 46%);
    }  
}
@media screen and (max-width: 550px) {
    .photographer {
        &__name--phPage {
            font-size: $font-size-title*3;
        }
    }
}
.dropdown {
    &__filters {
        font-size: $font-size-title*1.5;
        font-family: 'DMSans Bold', sans-serif;
    }
    &__list {
        font-size: $font-size-title*1.5;
        font-family: 'DMSans Bold', sans-serif;
        color: white;        
    }
}
.work {
    &__legend {
        color: $primary-color;        
    }
    &__name {
        font-size: $font-size-title*1.5;
    }
    &__likes {
        font-size: $font-size-title*1.5;
        font-family: 'DMSans Medium', sans-serif;
        i {
            font-size: $font-size-title*1.5;

        }
    }   
}
.info {
    font-size: $font-size-title*2;
    font-family: 'DMSans Medium', sans-serif;
}
.modal {
    &__title {
        font-size: $font-size-text*4;
        font-weight: normal;
        font-family: 'DMSans', sans-serif;
        line-height: 1;
    }
    &__btn {
        font-family: 'DMSans Bold', sans-serif;
    }
}
.form {
    font-size: $font-size-title*3;
    font-family: 'DMSans', sans-serif;
    &__input {
        font-size: $font-size-text*1.5;
        font-family: 'DMSans Medium', sans-serif;
        
    }
    &__input::placeholder {
        font-size: $font-size-title*2;
    }
    &__error {
        font-size: $font-size-title*1.5;
        font-family:'DMSans Medium', sans-serif;
        text-align: center;
    }
}
.lightbox {
    &__mediaName {
        color: $primary-color;
        font-size: $font-size-text*2;
        text-align: center;
    }
}
