/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
}

body {
  font-size: 1.6rem;
  line-height: 1.5em;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.fa, .fab, .fad, .fal, .far, .fas {
  display: flex;
}

/*
couleurs: $secondary-text-color: hsla(0, 0%, 32%, 1);
            #525252
            $secondary-background-color: hsla(0, 0%, 98%, 1);
            #fafafa
*/
/*
tailles polices:
    nom home    36px
    nom phPage  64px
    lieu home   16px
    lieu phPage 24px
*/
@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "DMSans Medium";
  src: url("../fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "DMSans Bold";
  src: url("../fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
html {
  font-family: "DMSans", sans-serif;
}

.main__title {
  text-align: right;
  font-size: 3.6rem;
  color: #911d1d;
}

.photographer__tag {
  font-family: "DMSans Medium", sans-serif;
  color: #911d1d;
  line-height: 16px;
  text-align: center;
}
.photographer__name {
  font-size: 3.6rem;
  color: #d3573c;
}
.photographer__name--home {
  text-align: center;
}
.photographer__name--phPage {
  font-size: 6.4rem;
}
.photographer__place {
  color: #911d1d;
}
.photographer__place--phPage {
  font-size: 2.4rem;
}
.photographer__quote {
  text-align: center;
  white-space: normal;
}
.photographer__quote--phPage {
  text-align: left;
}
.photographer__price {
  color: #757575;
}

.work__legend {
  color: #911d1d;
}
.work__likes {
  font-size: 2.4rem;
  font-family: "DMSans Medium", sans-serif;
}

.info {
  font-size: 2.4rem;
  font-family: "DMSans Medium", sans-serif;
}

.modal__title {
  font-size: 6.4rem;
  font-weight: normal;
  font-family: "DMSans Regular", sans-serif;
  line-height: 1;
}
.modal__btn {
  font-family: "DMSans-Bold", sans-serif;
}

.form {
  font-size: 3.6rem;
}
.form__input::placeholder {
  font-size: 2.4rem;
}

.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: #911d1d;
  color: white;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  border: none;
}

.hidden__link {
  background-color: #db8876;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 20rem;
  margin: 5px auto 0 auto;
}

.header {
  margin-left: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  margin: auto 50px auto 102px;
}
.header__taglist {
  display: flex;
  flex-direction: row;
}

.main__title {
  padding-right: 50px;
}

.photographer__blocklist {
  position: relative;
  top: -45px;
  max-width: 1440px;
  margin: 0 auto;
}
.photographer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px;
}
.photographer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.photographer__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  width: 310px;
}
.photographer__portrait {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.photographer__name {
  padding: 1.6rem 0;
}
.photographer__quote {
  width: 200px;
}
.photographer__taglist {
  display: flex;
  flex-direction: row;
}
.photographer__tag {
  border: 0.5px solid #cacaca;
  border-radius: 11px;
  padding: 0px 8px;
  margin-right: 5px;
}
.photographer__tag:last-child {
  margin-right: 0;
}

.photographer__block--phPage {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  margin: 0 auto;
}

.work__blocklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1240px;
  margin: 0 auto;
}
.work__block {
  padding: 20px;
}
.work__img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.work__video {
  width: 350px;
  height: 300px;
}
.work__legend {
  display: flex;
}
.work__likes {
  margin-left: auto;
}

.info {
  display: flex;
}
.info__likes {
  display: flex;
}

.modal {
  max-width: 670px;
  max-height: 900px;
  background-color: #db8876;
  padding: 20px;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.modal__close {
  width: 42px;
  height: 42px;
}
.modal__title {
  display: flex;
  flex-direction: column;
  height: 140px;
}

.form__label {
  margin-bottom: 15px;
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form__input {
  height: 68px;
}
.form__input--msg {
  height: 170px;
}

/*# sourceMappingURL=style.css.map */
