/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
}

body {
  font-size: 1.6rem;
  line-height: 1.5em;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.fa, .fab, .fad, .fal, .far, .fas {
  display: flex;
}

/*
couleurs: $secondary-text-color: hsla(0, 0%, 32%, 1);
            #525252
            $secondary-background-color: hsla(0, 0%, 98%, 1);
            #fafafa
*/
/*
tailles polices:
    nom home    36px
    nom phPage  64px
    lieu home   16px
    lieu phPage 24px
*/
@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "DMSans Medium";
  src: url("../fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "DMSans Bold";
  src: url("../fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
html {
  font-family: "DMSans", sans-serif;
}

.header__title {
  text-align: center;
  font-size: 3.6rem;
  color: #911d1d;
}

@media screen and (max-width: 860px) {
  .header__title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 550px) {
  .header__title {
    font-size: 1.6rem;
  }
}
.photographer__tag {
  font-family: "DMSans Medium", sans-serif;
  font-size: 1.2rem;
  color: #911d1d;
  line-height: 16px;
  text-align: center;
}
.photographer__name {
  font-size: 3.6rem;
  color: #d3573c;
}
.photographer__name--home {
  text-align: center;
}
.photographer__name--phPage {
  font-size: 6.4rem;
  line-height: 1;
}
.photographer__place {
  color: #911d1d;
}
.photographer__place--phPage {
  font-size: 2.4rem;
}
.photographer__quote {
  text-align: center;
  white-space: normal;
}
.photographer__quote--phPage {
  text-align: left;
}
.photographer__price {
  color: #757575;
}

@media screen and (max-width: 860px) {
  .photographer__tag {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .photographer__name--phPage {
    font-size: 3.6rem;
  }
}
.dropdown__filters {
  font-size: 1.8rem;
  font-family: "DMSans Bold", sans-serif;
}
.dropdown__list {
  font-size: 1.8rem;
  font-family: "DMSans Bold", sans-serif;
  color: white;
}

.work__legend {
  color: #911d1d;
}
.work__name {
  font-size: 1.8rem;
}
.work__likes {
  font-size: 1.8rem;
  font-family: "DMSans Medium", sans-serif;
}
.work__likes i {
  font-size: 1.8rem;
}

.info {
  font-size: 2.4rem;
  font-family: "DMSans Medium", sans-serif;
}

.modal__title {
  font-size: 6.4rem;
  font-weight: normal;
  font-family: "DMSans", sans-serif;
  line-height: 1;
}
.modal__btn {
  font-family: "DMSans Bold", sans-serif;
}

@media screen and (max-width: 860px) {
  .modal__title {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 860px) {
  .modal__title {
    font-size: 3.2rem;
  }
}
.form {
  font-size: 3.6rem;
  font-family: "DMSans", sans-serif;
}
.form__input {
  font-size: 2.4rem;
  font-family: "DMSans Medium", sans-serif;
}
.form__input::placeholder {
  font-size: 2.4rem;
}
.form__error {
  font-size: 2.4rem;
  font-family: "DMSans Medium", sans-serif;
  text-align: center;
}

@media screen and (max-width: 860px) {
  .form {
    font-size: 2.4rem;
  }
  .form__input::placeholder {
    font-size: 1.8rem;
  }
  .form__error {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 550px) {
  .form {
    font-size: 1.8rem;
  }
  .form__input::placeholder {
    font-size: 1.2rem;
  }
}
.lightbox__mediaName {
  color: #911d1d;
  font-size: 3.2rem;
  text-align: center;
}

body {
  max-width: 1440px;
  margin: 8px auto;
}

.hidden__link {
  background-color: #db8876;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 20rem;
  margin: 5px auto 0 auto;
}
.hidden__link:focus {
  background-color: #911d1d;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.header__logo {
  width: 200px;
}
.header__logo img {
  width: 100%;
}
.header__nav {
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1340px;
}
.header__title {
  order: 3;
}
.header__taglist {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto;
}

@media screen and (max-width: 1211px) {
  .header {
    align-items: center;
    width: 100%;
  }
  .header__nav {
    flex-wrap: wrap;
  }
  .header__logo {
    order: 1;
  }
  .header__title {
    order: 2;
    margin-left: auto;
  }
  .header__taglist {
    order: 3;
    width: 100%;
    margin: 20px auto 0;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 860px) {
  .header {
    padding: 0 24px;
  }
  .header__logo {
    width: 175px;
  }
  .header__nav {
    padding: 0;
  }
  .header__taglist {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .header__logo {
    width: 150px;
  }
  .header__title {
    margin-left: auto;
  }
}
.photographer a:focus {
  border: 3px double #911d1d;
  border-radius: 15px;
}
.photographer__blocklist {
  max-width: 1340px;
  margin: 0 auto;
}
.photographer__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 60px auto 0;
}
.photographer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 20px;
  width: 350px;
}
.photographer__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  width: 310px;
}
.photographer__portrait {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.photographer__portrait:hover {
  box-shadow: 0 0 1rem #db8876;
}
.photographer__name {
  padding: 1.6rem 0;
}
.photographer__taglist {
  display: flex;
  flex-direction: row;
}
.photographer__tag {
  border: 0.5px solid #cacaca;
  border-radius: 11px;
  padding: 0px 8px;
  margin: 0 5px 5px;
  transition: ease-in-out 0.3s;
}
.photographer__tag:hover {
  background-color: #911d1d;
  color: white;
}
.photographer__tag:last-child {
  margin-right: 0;
}

.photographer__block--phPage {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto 30px auto;
  padding: 20px 5px;
  background-color: #fafafa;
}
.photographer__info--phPage {
  display: flex;
  flex-direction: column;
}
.photographer__quote--phPage {
  width: auto;
  margin: auto 0 16px;
}

@media screen and (max-width: 550px) {
  .photographer__portrait--phPage {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 5px;
  }
  .photographer__taglist {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.work__blocklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}
.work__block {
  margin: 20px;
  padding: 5px;
  height: 350px;
  width: 350px;
  border-radius: 5px;
}
.work__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.work__video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.work__legend {
  display: flex;
  align-items: center;
}
.work__legend :last-child {
  margin-left: 5px;
}
.work__likes {
  margin-left: auto;
}

@media screen and (max-width: 860px) {
  .work__blocklist {
    justify-content: center;
    width: auto;
  }
  .work__block {
    width: 100%;
    margin: 0 auto;
  }
  .work__img {
    width: 100%;
  }
  .work__video {
    width: 100%;
  }
}
.dropdown__list {
  background-color: #911d1d;
  border-radius: 5px;
  border: none;
}

@media screen and (max-width: 550px) {
  .dropdown__filters {
    display: none;
  }
}
.info {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}
.info__block {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background-color: #db8876;
  position: fixed;
  bottom: 0;
}
.info__totalLikes {
  padding-right: 8px;
}
.info__likes {
  display: flex;
}

@media screen and (max-width: 860px) {
  .info__block {
    position: static;
  }
}
.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: #911d1d;
  color: white;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.modal__btn--open:hover {
  background-color: #db8876;
  color: black;
}
.modal__btn--active:active {
  transform: scale(1.1);
}

@media screen and (max-width: 860px) {
  .modal__btn {
    width: 200px;
    height: 35px;
    position: relative;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-10%);
  }
  .modal__btn--open {
    position: fixed;
  }
}
.lightbox__btn {
  background-color: transparent;
  border: transparent;
  color: #911d1d;
  font-size: 4.8rem;
}
.lightbox__btn--close {
  position: absolute;
  right: -3rem;
  top: 0.5rem;
}
.lightbox__btn--left {
  left: -3rem;
  position: absolute;
  top: 48%;
}
.lightbox__btn--right {
  position: absolute;
  right: -3rem;
  top: 48%;
}

.modal {
  display: none;
  width: 670px;
  height: auto;
  background-color: #db8876;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.modal__close {
  width: 30px;
  height: 30px;
}
.modal__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

@media screen and (max-width: 860px) {
  .modal {
    width: 75%;
    min-width: 360px;
  }
  .modal__title {
    height: auto;
  }
}
.form__label {
  margin-bottom: 15px;
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form__input {
  height: 68px;
}
.form__input--msg {
  height: 170px;
}
.form__error {
  color: black;
  padding: 5px 0 10px;
}

input[data-error]::after {
  content: attr(data-error);
}

.form__field[data-error-visible=true]::after {
  opacity: 1;
}

.form__field[data-error-visible=true] .form__input {
  border: 5px solid #911d1d;
  background-color: lightgrey;
}

.form__field[data-error-visible=false] .form__input {
  border: 5px solid green;
  padding-left: 10px;
}

.lightbox {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.lightbox__body {
  position: fixed;
  top: 3%;
  left: 50%;
  height: 90%;
  background-color: white;
}
.lightbox__mediaBox {
  background-color: rgba(255, 255, 255, 0);
  height: 90%;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}
.lightbox__media {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
