.modal {
    display: none;
    width: 670px;
    height: auto;
    background-color: $secondary-color;
    padding: 30px;
    position: fixed; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    &__header {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__close {
        width: 30px;
        height: 30px;
    }
    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 36px;
    }
}

.form {
    &__label {
        margin-bottom: 15px;
    }
    &__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

    }
    &__input {
        height: 68px;
        &--msg {
            height: 170px;
        }
    }
    &__error {
        color: $color-dark;
        padding: 5px 0 10px;
    } 
}

input[data-error]::after {
    content: attr(data-error);
}

.form__field[data-error-visible="true"]::after {
opacity: 1;
}
.form__field[data-error-visible="true"] .form__input {
border: 5px solid $primary-color;
background-color: lightgrey;
}
.form__field[data-error-visible="false"] .form__input {
border: 5px solid green;
padding-left: 10px;
}
@media screen and (max-width: 860px) {
    .modal{
        width: 75%;
        min-width: 360px;
        &__title {
            height: auto;
        }
    }
    .form{
        &__input {
            height: 40px;
            &--msg {
                height: 90px;
            }
        }
    }    
}