
.hidden {
    &__link {
       background-color: $secondary-color;
       border-radius: 5px;
       display: none;
       justify-content: center;
       width: 20rem;
       margin: 5px auto 0 auto;
       position: fixed;
       top: 1rem;
       left: 50%;
       transform: translateX(-50%);
       &:focus, &:hover {
        background-color: $primary-color;
        color: white;
       }
    }
}
.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    &__logo {
        width: 200px;
        img {
            width: 100%;
        }
    }
    &__nav {
        margin: 0 auto;
        padding: 0 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1340px;      
    }
    &__title {
        order: 3;
    }  
    &__taglist {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        margin: 0 auto;
    }
    &__tag a {
        transition: ease-in-out .3s;
        &:hover, &.is-active {
            background-color: $primary-color;
            color: white;
        }
    }
}
@media screen and (max-width: 1211px) {
    .header {
        align-items: center;
        width: 100%;
        &__nav {
            flex-wrap: wrap;
        }
        &__logo {
            order: 1;
        }
        &__title {
            order: 2;
            margin-left: auto;
        }
        &__taglist {
            order: 3;
            width: 100%;
            margin: 20px auto 0;
            flex-wrap: wrap;
        }
    }
}
@media screen and (max-width: 860px) {
    .header {
        padding: 0 24px;
        &__logo {
            width: 175px;
        }
        &__nav {
            padding: 0;
        }
        &__taglist {
            width: 100%;
        }
    }  
}
@media screen and (max-width: 550px) {
    .header {
        &__logo {
            width: 150px;
        }
        &__title {
            margin-left: auto;
        }
    }   
}

.photographer{
    a:focus {
        border: 3px double   $primary-color;
        border-radius: 15px;
    }
    &__blocklist {
        max-width: 1340px;
        margin: 0 auto;      
    }    
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 60px auto 0;
        
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        margin: 20px;
        width: 350px;
    }
    &__profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 250px;
        width: 310px;
    }
    &__portrait {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        &:hover {
            box-shadow: 0 0 1rem $secondary-color;
        }        
    }
    &__name {
        padding: 1.6rem 0;
    }
    
    &__taglist {
        display: flex;
        flex-direction: row;
    }
    &__tag a {
        border: 0.5px solid #cacaca;
        border-radius: 11px;
        padding: 0px 8px;
        margin: 0 5px 5px;
        cursor: default;     
    }
    &__tag a:last-child {
        margin-right: 0;
    }
}
