
.hidden {
    &__link {
       background-color: $secondary-color;
       border-radius: 5px;
       display: flex;
       justify-content: center;
       width: 20rem;
       margin: 5px auto 0 auto;
    }
}
.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    &__logo {
        width: 200px;
        img {
            width: 100%;
        }
    }
    &__nav {
        margin: 0 auto;
        display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        align-items: center;
        max-width: 1440px;      
    }
    &__title {
        order: 3;
    }  
    &__taglist {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1211px) {
    .header {
        align-items: center;
        justify-content: center;
        width: 100%;
        &__nav {
            flex-wrap: wrap;
        }
        &__logo {
            order: 1;
        }
        &__title {
            order: 2;
            margin-left: auto;
        }
        &__taglist {
            order: 3;
            width: 100%;
            margin: 20px auto 0;
            flex-wrap: wrap;
        }
    }
}
@media screen and (max-width: 860px) {
    .header {
        padding: 0 32px;
        &__taglist {
            width: 100%;
        }
    }  
}
@media screen and (max-width: 550px) {
    .header {
        padding: 0 24px;
        &__logo {
            width: 150px;
        }
        &__title {
            margin-left: auto;
        }
    }
    
}

.photographer{
    &__blocklist {
        max-width: 1340px;
        margin: 0 auto;      
    }    
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 60px auto 0;
        
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 35px;
        width: 350px;
        margin: 25px;
        
    }
    &__profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 250px;
        width: 310px;
    }
    &__portrait {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;        
    }
    &__name {
        padding: 1.6rem 0;
        // line-height: normal;
    }
    
    &__taglist {
        display: flex;
        flex-direction: row;
    }
    &__tag {
        border: 0.5px solid #cacaca;
        border-radius: 11px;
        padding: 0px 8px;
        margin: 0 5px;
    }
    &__tag:last-child {
        margin-right: 0;
    }
}
