.photographer {
    &__block--phPage {
        display: flex;
        justify-content: space-between;
        width: 1240px;
        margin: 0 auto;
    }
}
.work {
    &__blocklist {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1240px;
        margin: 0  auto;
    }
    &__block {
        padding: 20px;
    }
    &__img {
        width: 350px;
        height: 300px;
        object-fit: cover;
    }
    &__video {
        width: 350px;
        height: 300px;
    }
    &__legend {
        display: flex;
        
    }
    &__likes {
        margin-left: auto;
    }
}
.info {
    display: flex;
    &__likes{
        display: flex;
    }
}